<html>
<head>
  <title>Yakker</title>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <link href="/assets/skeleton.css" rel="stylesheet" type="text/css">
  <link href="/assets/main.css" rel="stylesheet" type="text/css">
  <script src="/assets/yakker.js"></script>
</head>
<body>
  <div class="container">
    <div class="row nav">
      <div class="one column nav-logo">
        <img src="http://lorempixel.com/29/29/abstract" alt="Logo" />
      </div>
      <div class="eleven columns nav-title"><h1>Babbler</h1></div>
    </div>
  </div>
  <hr class="divider" />
  <div class="container">
    <form>
      <div class="row">
        <input type='test' placeholder='Your message' id="yakker-input"></input>
      </div>
      <div class="row">
        <input type='submit' id="yakker-submit" value='Yak!'></input>
      </div>
    </form>
    <div class="row">
      <ul id="yakker-list-container">
        <% messages.forEach(function(message) { %>
          <div class="row">
            <li><%= message %></li>
          </div>
        <% }); %>
      </ul>
    </div>
  </div>
</body>
</html>
